h3, p {
    margin: 0;
    padding: 1em;
    text-align: center;
    background-color: aliceblue;
}
hr {
    border: 1px dashed #ffe4c4;
}
.header div {
/*  float: left;
    width: 30%;
    border: 1px solid #336699; */
    display: inline;
    margin: 1em;
    padding: 1em;
    border-radius: 0.5em;
    background-color: #FFF2E8;
}
.header div:first-child {
    background-color: #E0FFDA;
}
.table {
    display: table-row;
    padding: 1em;
}
.table div {
    display: table-cell;
    padding: 0;
}
.table span {
    display: block;
    padding: 4px 1em;
    border: 1px solid transparent;
    height: 1em !important;
}
.table span:nth-child(odd) {
    background-color: #F8F8F8;
}
#write {
    position: fixed;
    bottom: 1em;
    right: 1em;
    z-index: 1000;
}
/*
#files {
    background-color: #DBFFFD;
}
#files2 {
    background-color: #FDFFDF;
}
*/
#files .folder {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: blue;
}
#files .folder:hover {
    background-color: #EBFAF4;
    border: 1px solid mediumaquamarine;
}
.table span.conv {
    color: white;
    text-shadow: 0 0 1px #000;
    background-color: #99D424;
    border-radius: 1em;
    padding: 0 4px 8px;
    font-family: "Arial Black",sans-serif;
    box-shadow: 0 0 1px #88BF24 inset;
    border-color: white;
    cursor: pointer;
    max-height: 1em;
}
.table span.del {
    color: white;
    text-shadow: 0 0 1px #000;
    background-color: #FF8080;
    border-radius: 1em;
    padding: 2px 10px 6px;
    font-family: "Arial Black",sans-serif;
    box-shadow: 0 0 1px #FF0000 inset;
    border-color: white;
    cursor: pointer;
    max-height: 1em;
}
.table span.blank {
    padding: 0 4px 8px;
    /*    padding: 0; */
}
